<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<h2 class="section__title footer__title">- get in touch with us -</h2>
			<p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
				sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos
				mollisestor.</p>
			<div class="footer__icons-wrapper">
				<a class="footer__icon-wrapper rss" href="#">
					<img class="footer__icon--rss" src="../img/icons/rss-icon.svg" alt="Social icon pinterest">
				</a>
				<a class="footer__icon-wrapper facebook" href="#">
					<img class="footer__icon--facebook" src="../img/icons/facebook-icon.svg" alt="Social icon pinterest">
				</a>
				<a class="footer__icon-wrapper twitter" href="#">
					<img class="footer__icon--twitter" src="../img/icons/twitter-icon.svg" alt="Social icon pinterest">
				</a>
				<a class="footer__icon-wrapper dribble" href="#">
					<img class="footer__icon--dribble" src="../img/icons/dribble-icon.svg" alt="Social icon pinterest">
				</a>
				<a class="footer__icon-wrapper pinterest" href="#">
					<img class="footer__icon--pinterest" src="../img/icons/pinterest-icon.svg" alt="Social icon pinterest">
				</a>
			</div>
			<div class="footer__contacts">
				<span class="footer__info address">Moonshine St. 14-05 Light City  /</span>
				<a class="footer__info tel" href="tel:+001234567890">  T. +00 (123) 456 78 90  /</a>
				<a class="footer__info mail" href="mailto:first.last@email.com">  first.last@email.com</a>
			</div>
		</div>
	</div>
</footer>
