@import "../variables/colors";
@import "../variables/padding_container";
@import "../mixins/flex";

.header {
    width: 100%;
	@include flex-column-center;

	.header__menu {
		width: 100%;
		height: 55px;
		margin: 29px 0 34px;
		@media (max-width: 768px){
			display: flex;
			justify-content: flex-end;
			height: 37px;
			margin: 23px 0;

			.menu__btn {
				width: 44px;
				height: 100%;
				background: #000000;
				position: relative;
				z-index:2;
				overflow: hidden;
				cursor: pointer;
				
				span {
					width: 17px;
					height: 2px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: #ffffff;
					transition: all 0.5s;
				}
				span:nth-of-type(2) {
					top: calc(50% - 4px);
				}
				span:nth-of-type(3) {
					top: calc(50% + 4px);
				}
				
				&.active span:nth-of-type(1) {
					display: none;
				}
				&.active span:nth-of-type(2) {
				top: 50%;
				transform: translate(-50%, 0%) rotate(45deg);  
				}
				&.active span:nth-of-type(3) {
				top: 50%;
				transform: translate(-50%, 0%) rotate(-45deg); 
				}
			}
		}
	
		.menu {
			height: 100%;
			@include flex-center;
			
			.menu__list {
				@include flex-center;
				width: 100%;
				margin: 0;
				padding: 0;
				list-style: none;
								
				& a.menu__link {
					margin: 0 2.13vw;
					font-size: 11px;
					line-height: 2;
					letter-spacing: 1.1px;
					text-transform: uppercase;
					color: $main_dark_color_text;
		
					&:hover {
						color: $color_link_hover;
						transition: color 0.4s ease;
					}
				}				
			}

			@media (max-width: 768px){
				position: fixed;
				top: 60px;
				right: -500px;
				width: 182px;
				height: 203px;
				justify-content: flex-start;
				background: #f5f5f5;
				transform: translateX(0);
				transition: transform 0.5s; 

				&.active {
					transform: translateX(calc($padding-container - $padding-container * 2 - 499px));
	
					.menu__list {
						@include flex-column-start;
						margin: 0;
						padding-left: 13px;

						.menu__item {
							width: 100%;
							height: 29px;
							display: flex;
							align-items: center;

							&:hover {
								background: #E5E5E5;
							}

							.menu__link {

								&:active {
									color: $color_link_hover;
									transition: color 0.4s ease;
								}
							}
						}				
					}
				}
			}
		}		
	}
	.header__hero {
		width: 100%;
		max-width: 1170px;

		.header__hero--img{
			width: 100%;
			display: block;
		}
	}
}