@import "../variables/colors";
@import "../variables/padding_container";
@import "../mixins/flex";


.section__instagram-shots {
    padding: 48px 0 49px;
    background: rgba(0, 0, 0, 0.03);
    
    @media (max-width: 450px) {
        padding: 38px 0 42px;
    }

    .instagram-shots__titles--wrapper {
        @include flex-between-center;
        margin-bottom: 24px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }

        @media (max-width: 450px) {
            margin-bottom: 13px;
        }

        & a.instagram-shots__link {
            font-weight: 700;
            font-size: 13px;
            line-height: 1.69;
            text-transform: uppercase;
            text-decoration: none;
            color: $main_dark_color_text;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    .instagram-shots__items--wrapper {
        width: 100%;
        margin: 0 -5px;
        @include flex-center;
        
        .instagram-shots__img--wrapper {
            margin: 0 5px;
            min-width: 285px;
            height: 285px;
            overflow: hidden;

            & img {
                height: 100%;
                display: block;
            }
        }

        @media (max-width: 1199px) {
            .instagram-shots__img--wrapper {
                min-width: 249px;
                height: 249px;
            }

            .instagram-shots__img--wrapper:last-child {
                display: none;
            }
        }

        @media (max-width: 768px) {
            justify-content: flex-start;

            .instagram-shots__img--wrapper {
                min-width: 301px;
                height: 301px;
            }

            .instagram-shots__img--wrapper:nth-child(2),
            .instagram-shots__img--wrapper:nth-child(3) {
                display: none;
            }
        }
    }
}