@import "../variables/colors";
@import "../variables/padding_container";
@import "../mixins/flex";


.section__recent-posts {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.001);

    @media (max-width: 768px) {
        padding: 60px 0;
    }

    @media (max-width: 450px) {
        padding: 42px 0;
    }

    .recent-posts__title {
        margin-bottom: 24px;
    }

    .recent-posts__items--wrapper {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 32px 55px;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
        }

        .recent-posts__item--wrapper {
            max-width: 555px;
            display: flex;
            justify-content: space-between;
            gap: 19px;
        
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                gap: 11px;
                max-height: 230px;
            }

            .recent-posts__img--wrapper {
                min-width: 160px;
                height: 140px;
                overflow: hidden;

                & img {
                    height: 100%;
                    display: block;
                }
            }

            .recent-posts__item--text-content {
                display: flex;
                flex-direction: column;

                .recent-posts__item--title {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.88;
                    color: $main_dark_color_text;

                    @media (max-width: 768px) {
                        margin: 0;
                        font-size: 14px;
                        line-height: 2.14;
                    }
                }

                .recent-posts__item--comment {
                    margin-bottom: 13px;
                    font-size: 12px;
                    line-height: 1.67;
                    color: $third_dark_color_text;

                    @media (max-width: 768px) {
                        margin: 0;
                        font-size: 11px;
                        line-height: 1.82;
                    }
                }

                .recent-posts__item--descr {
                    line-height: 1.86;
                    color: $secondary_dark_color_text;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }
}

